/* You can add global styles to this file, and also import other style files */
i {
    color: #c7c7c7;
}

i:active {
    color: black;
    cursor:pointer;
    font-size: 24px !important;
    
}

i:hover {
    color: black;
    cursor:pointer;
    font-size: 24px !important;
}

i:focus {
    color: black;
    cursor:pointer;
    font-size: 24px !important;
}